*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Dosis', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

#main{
    width: 626px;
    height: 100vh;
    margin: auto;
    text-align: center;
}

#main img{
    margin: 64px auto 32px;
}


h1{
    font-family: 'Dosis';
    font-weight: 500;
    color: #3F3D56;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 16px;
}

span{
    color: #EE24FF;
    font-weight: 700;
}

p{
    font-family: 'Open Sans';
    color: #828282;
    width: 540px;
    margin: 0 auto 64px;
}

#line{
    background-color: #ECEFF2;
    width: 391px;
    height: 1px;
    margin:  0 auto 16px;
}


#links{
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#links a{
    text-decoration: none;
    color: #3F3D56;
    font-weight: 700;
}


#waves {
    width: 100%;
    bottom: 0;
    right: 0;
    position: relative;
    transform: translateY(10%);
}